@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3>Add a new Stylist</h3>
<hr>
@using (Html.BeginForm())
{
  <div>
    @Html.LabelFor(model => model.StylistName, "Name", new { @class="form-label"})<br>
    @Html.TextBoxFor(model => model.StylistName, new { @class="form-control"})<br>
  </div>
  <div>
    @Html.LabelFor(model => model.YearsEmployed, "Years Employed")<br>
    @Html.TextBoxFor(model => model.YearsEmployed, new { @class="form-control", type="number"})<br>
  </div>
  <div>
    @Html.LabelFor(model => model.Specialties)<br>
    @Html.TextAreaFor(model => model.Specialties, new { @class="form-control"})<br>
  </div><br>

  <input type="submit" value="Add new stylist" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Show all Stylists", "Index")</p>