@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3>Add a new Stylist</h3>
<hr>
@using (Html.BeginForm())
{
  <div>
    @Html.LabelFor(model => model.StylistName, "Name")<br>
    @Html.TextBoxFor(model => model.StylistName)<br>
  </div>
  <div>
    @Html.LabelFor(model => model.YearsEmployed, "Years Employed")<br>
    @Html.TextBoxFor(model => model.YearsEmployed)<br>
  </div>
  <div>
    @Html.LabelFor(model => model.Specialties)<br>
    @Html.TextAreaFor(model => model.Specialties)<br>
    @* maybe change to text box *@
  </div><br>

  <input type="submit" value="Add new stylist" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Show all Stylists", "Index")</p>