@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Add a new Client</h3>
<hr>

<p><strong>NOTE:</strong> You need to have at least one stylist in the system before you can add a client!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Stylists") to add a stylist.</p>
<hr><br>

@using (Html.BeginForm())
{
  <div class="mb-3">
    @Html.LabelFor(model => model.ClientName, "Client Name:", new { @class="form-label"})
    @Html.TextBoxFor(model => model.ClientName, new { @class="form-control"})
  </div>
  <div class="mb-3">
    @Html.LabelFor(model => model.Description, "Description:", new { @class="form-label"})
    @Html.TextAreaFor(model => model.Description, new { @class="form-control"})
  </div>
  <div class="mb-3">
    @Html.LabelFor(model => model.Stylist, "Stylist: ", new { @class="form-label"})
    @Html.DropDownList("StylistId")
  </div>
  <br>
  <input type="submit" value="Add new client" class="btn btn-primary" />
}
<br>
<p>@Html.ActionLink("Show all clients", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>