@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Client Details</h3>
<hr><br>

<h5>@Html.DisplayFor(model => model.ClientName)</h5>

<ul>
  <li>@Html.DisplayNameFor(model => model.Stylist): @Html.DisplayFor(model => model.Stylist.StylistName)</li>
  <li>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</li>
</ul>

<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>